/* Instagram Logo */
#instagram-logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30px; /* Adjust the Instagram logo size */
    z-index: 1001; /* Ensure it appears above other content */
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40; /* Dark background color */
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar__logo {
    display: flex;
    align-items: center;
    margin-right: auto; /* Push the logo to the left */
    padding: 0 20px;
}

.navbar__logo img {
    max-width: 150px; /* Adjust the logo size as needed */
}

.nav__menu {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar__link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
}

.navbar__link::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    height: 70%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5); /* Bar color */
}

.navbar__link:first-child::before {
    display: none;
}

.services {
    padding: 50px 20px; /* Adjust the padding for better spacing */
    text-align: center;
    background-color: #ffffff; /* White background */
    margin-top: 60px; /* Adjust to make space for the navbar */
}

.paypal-button {
    text-align: center;
    margin-top: 30px; /* Adjust the margin as needed */
}

/* Ensure PayPal button doesn't cover the text */
.paypal-button .paypal-logo {
    width: 50px; /* Adjust the PayPal logo size */
}


.instagram-logo {
    width: 5px; /* Adjust the Instagram logo size */
}
